/* CONTENEUR GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    color: #1B368B;
    display: grid;
    align-content: space-between;
    font-family: "Bai Jamjuree", sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(26, 46, 143, 0.1);
    backdrop-filter: blur(5px); 
    z-index: -1;
}
.navbar a{
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}
#check {
    display: none;
}
.icone{
    position:absolute;
    right: 5%;
    font-size : 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
@media(max-width:2000px){
    .header{
        padding: 1.3rem 5%;
    }
}
@media(max-width: 1100px){
    .icone{
        display: inline-flex;
    }
    #check:checked~.icone #menu-icone{
        display: none;
    }
    .icone #close-icone {
        display: none;
    }
    #check:checked~.icone #close-icone{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height:0;
        background: rgba(26, 46, 143, 0.1);
        backdrop-filter: blur(5px);
        box-shadow: 0.5rem 1rem rgba(27, 17, 94, 0.1) ;
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
    #photos .container {
        max-width: 3000px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
}

.bienvenue{
    max-width: 1200px;
    padding: 16px;
    margin:auto;
    margin-top: 180px;
    text-align: center;
}
.bienvenue .titre{
    font-size: 50px;
    color :#1B368B
}
.bienvenue .bouton1{
    margin-top: 30px;
}
.bouton1{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: #1B368B;
    background: #F9CA02;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
}
.bouton1 a{
    text-decoration: none;
    color: #1B368B;
}
button a:hover {
    text-decoration: none;
    color: #F9CA02;
}
button:hover{
    background-color: #1B368B;
    color: #F9CA02;
}

#nous .container{
    width: 90%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
    margin-top: 30px;
}
#nous .container .nous-contenu{
    margin-top: 10%;
    align-items: center;
    padding-left: 50px;
}
#nous .container .nous-contenu h4{
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}
#nous .container .nous-contenu h1{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 15px;
}
#nous .container .nous-contenu p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
#nous .container .nous-image{
    margin-left: 12%;
    overflow: hidden;
    display: flex;
    display: grid;
    grid-gap: 5px 30px;
    font-size: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(153, 140, 191));
}
#nous .container .nous-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

#palmares .container{
    width: 90%;
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
    margin-top: 30px;
}
#palmares .container .palmares-contenu{
    margin-top: 10%;
    align-items: center;
    padding-left: 50px;
}
#palmares .container .palmares-contenu h4{
    font-size: 30px;
    line-height: 26px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: underline;
    font-family: "Alfa Slab One", serif;
    font-weight: 100;
    font-style: normal;

}
#palmares .container .palmares-contenu h1{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 15px;
}
#palmares .container .palmares-contenu p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 15px;
}
#palmares .container .palmares-image{
    margin-left: 12%;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    display: grid;
    grid-gap: 5px 30px;
    font-size: 15px;
    filter: drop-shadow(0 0 0.75rem rgb(153, 140, 191));
    text-align: right;
}
#palmares .container .palmares-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2%;
}

#photos {
    min-height: 300px;
    background-image: url("images/image_compet_2.jpg");
    background-position:center;
    background-size: cover;
}
#photos .container {
    max-width: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}


.pimg0{
    background-image: url(images/équipe_régionale_neuville.jpg);
    min-height: 200px;
}
.pimg1{
    
    width:100%;
    background: url(images/Equipe3.jpg);
    background-size:cover;
    background-position: center; 
    min-height: 400px;
    max-height: 700px;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pimg2{
    background-image: url(images/IMG-20240406-WA0045.jpg);
    min-height: 200px;
}

.pimg4{
    background-image: url(images/IMG-20240406-WA0033.jpg);
    min-height: 200px;
}

.pimg5{
    background-image: url(images/lyceedelacotierelaboisse01.jpg);
    min-height: 200px;
}

.pimg6{
    background-image: url(images/photo2equipes.jpg);
    min-height: 200px;
}



.pimg0, .pimg2, .pimg4, .pimg5, .pimg6{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    
}

.ptext{
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 27px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 60px;
}

.textbg{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color:#1B368B;
    padding: 10px;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    opacity: 0.95;
    border-radius: 15px;
}

.section2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
}
.section{
    text-align: center;
    padding: 20px 30px;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 10px;
}
.section3{
    text-align: center;
    padding: 20px 80px;
    text-transform: uppercase;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 10px;
}
.section_sponsor{
    display:flex;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    margin-left: 5%;
    margin-right: 5%;
}
.section_sponsor a{
    margin-bottom: 5.5px;
}
.remerciements{
    margin-bottom: 30px;
    margin-top: -15px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size:25px;
    font-weight:500;
    border-width: 10px;
    border-style:double;
    border-color: #1B368B;
    border-radius:5px ;
}

#logo{
   padding: 10px;
}

.countdown{
    display : flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.boite{
    width: 210px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #F9CA02;
    color: #1B368B;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.boite_bis{
    width: 210px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #F9CA02;
    color: #1B368B;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.valeur{
    font-family: "Alfa Slab One", serif;
    font-weight: 1000px;
    display: block;
    font-size: 70px;
    
}

.unite{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01px;
    text-transform: uppercase;
}

.sectioncountdown{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    color:#1B368B;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    padding: 20px;
    font-family: "Alfa Slab One", serif;
    font-weight:lighter;
    font-style:normal;
    letter-spacing: 2.5px;
    font-size: 40px;
    text-transform: uppercase;
}

.sectioncountdown2{
    background-color: #F9CA02;
    display: block;
    padding: 30px;
}

.sectionapropos{
    background-color: #1B368B;
    display: block;
    padding: 30px;
}
.section_roles{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width:325px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 40px;
}
.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    font-size: 17px;
    line-height: 1.3;
}
.sectionphotos{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    flex-wrap: wrap;
}


.slider-container {
    position: relative;
    margin: 50px auto;
    max-width: 1000px;
}

/* SLIDER */
.slider-container .slider {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* SLIDES */
.slider-container .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    display: none;
}

.slider-container .slide.active {
    display: block; 
}

/* IMAGES */
.slider-container .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* CONTENU TEXTE */
.slider-container .slide .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #193180;
    text-shadow: 0 5px 10px #0004;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
}

/* TITRES */
.slider-container .slide .content .title,
.slider-container .slide .content .type {
    font-size: 50px;
    margin-bottom: 15px;
}

.slider-container .slide .content .title {
    -webkit-text-stroke: 0.4px #F9CA02;
}

.slider-container .slide .type {
    color: #F9CA02;
    -webkit-text-stroke: 0.4px #1B368B;
}

/* DESCRIPTION */
.slider-container .slide .description {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
}

/* MINIATURES */
.slider-container .thumbnails {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    z-index: 10;
    width: max-content;        
    max-width: 660px;          
    overflow-x: auto;          
    white-space: nowrap;       
    padding: 5px 0;            
    scrollbar-width: none;     
}

/* Cache la barre de défilement */
.slider-container .thumbnails::-webkit-scrollbar {
    display: none;
}

.slider-container .thumb {
    flex: 0 0 120px;           
    width: 120px;
    min-width: 120px;          
    max-width: 120px;         
    
    height: 70px;
    object-fit: cover;         
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
    
    
    box-sizing: border-box;   
    border: 2px solid transparent; 
}

.slider-container .thumb.active {
    opacity: 1;
    border: 2px solid #F9CA02; 
}

.slider-container .thumb:hover {
    opacity: 1;
}

/* BOUTONS NAVIGATION */
.slider-container .prev,
.slider-container .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F9CA02;
    border: none;
    color: #1B368B;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.slider-container .prev {
    left: 15px;
}

.slider-container .next {
    right: 15px;
}

.slider-container .prev:hover,
.slider-container .next:hover {
    background-color: #1B368B;
    color: #F9CA02;
}
footer .container{
    display:flex;
    padding: 20px 16px;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
}

footer .container p{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.01px;
    margin-bottom: -3px;
}
footer .container a{
    margin-bottom: -5.5px;
}
.slide-caption {
  position: absolute;
  top: 0;       /* Aligné en bas (vous pouvez mettre "top: 0" si vous préférez) */
  left: 0;
  right: 0;
  background: rgba(8,21,54,0.5); /* Fond noir semi-transparent pour la lisibilité */
  color: #ffffff;
  padding: 15px;
  font-family: "Bai Jamjuree", sans-serif;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.slide-caption h3 {
  margin: 0 0 5px 0;
  font-size: 1.2rem;
}

.slide-caption p {
  margin: 0;
  font-size: 0.9rem;
}

.sectionfooter{
    background-color: #1B368B;
    display: block;
    padding: 2px;
}



/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .slider-container .slide .content {
        padding-right: 0;
    }

    .slider-container .slide .content .title {
        font-size: 30px;
    }

    .slider-container .thumb {
        width: 80px;
        height: 50px;
    }
}